:root{
    --header-color: #255ee9;
    --footer-color: #23272a;
    --body-color-row: #f6f6f6;
    --button-color: #5865f2;
    --white-color: #ffffff
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;;
}



.menu-items{
    list-style: none;
}
.menu-items li{
    padding: 0 20px 0 20px;
    font-size: 1.1em;  
}
.a-button, .a-button-black{
    color: black;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 30px;
    margin: 0 20px 0 20px;
    padding: 12px 18px 12px 18px;
    font-size: 1.1em;  
    
}
.a-button-black{
    background-color: var(--footer-color);
    color: var(--white-color);
    margin-left: 10px;
    width: 10px;
}
.gray-section{
    background-color: var(--body-color-row) ;
}



.text-align{
    text-align: center;   
}
.padding-items{
    padding-top: 30px;
}
.debug{
    border: solid 1px black;
}
.page-center{
    max-width: 1400px;
    margin: 0 auto;
}
.section-menu{
    background-color: var(--header-color);
    color: var(--white-color);
    min-width: 700px;
}
.img-main{
    width: 75%;
    height: auto;  
}
.text-container-main{
    padding-right: 10%;
}
.margin-section{
    margin-top: 60px;
    margin-bottom: 30px;
}




.d-flex{
    display: flex;
}
.d-flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-column{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;  
}
.d-flex-row{
    display: flex;
    justify-content: center;   
}
.d-flex-row-start{
    display: flex;
    justify-content: flex-start;   
}
.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
}
.flex-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
}
.flex-row-reverse{
    display: flex;
    flex-flow: row-reverse;
}






.left{
    width: 60%;
}
.right{
    width: 40%;
}
.title-header{
    width: 60%;
    margin: 0 auto;
    height: 730px;
    color: var(--white-color);
}
.title-header div{
    padding-bottom: 30px;   
}
.title-header h1{
    font-size: 50px;
    margin-bottom: 30px;   
}
.title-header p{
    font-size: 1.1em;  
    word-spacing: 1px;
    line-height : 1.5;   
}
.section-backgroud{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -125px;
    
}

